.navbar-menu {
  height: 75px;
}
.navbar-menu-container {
    background-color: whitesmoke;
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar {
	align-items: stretch;
	display: flex;
}
.navbar-start, .navbar-end {
	align-items: stretch;
    display: flex;
}

.navbar-start {
	justify-content: flex-start;
	margin-right: auto;
}
.navbar-end {
	justify-content: flex-end;
    margin-left: auto;
}
.navbar-end img {
  width: 50px;
}

.navbar-item {
	align-items: center;
  display: flex;
  font-size: 1rem !important;
  padding: 0.5rem 0.8125rem !important;
}

.navbar-item span {
  padding: 1rem;
  width: 31px;
  height: 31px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.navbar-item span:hover {
  border: 1px solid #066391;
}

.burger-desktop {
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}

.navbar-brand.collapsed {
  width: 50px;
  .navbar-item {
    padding: 0px;
    img {
      margin: auto;
      max-height: none;
    }
    h3 {
      display: none;
    }
  }
}

a.navbar-item:hover {
  background-color: #fff;
}

a .navbar-item:hover {
  background-color: transparent;
}

.avatar {
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.navbar-burger {
  height: 3.35rem;
  width: 3.35rem;

  span {
    background: #0C2938
  }

  &:hover span {
    background: #064D70
  }
}

.dropdown-menu {
  width: 153px;
  top: 75%;
  right: 0.8125rem !important;
}

.icon .fa, .icon i {
  color: #066391;
}

.menu .icon .fa, .menu .icon i {
  color: #fff;
}

.dropdown-item {
  font-size: 0.875rem;
  padding: 0.8125rem 1rem;
}

.dropdown-item:first-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.dropdown-item .fa, .dropdown-item i {
  color: #229AD6;
  margin-right: 17px;
}

.dropdown-content{
  padding: 0;
}